<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1027558657248-35ooec6l3hpm3r2a7lutntdc56d6t6d1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1027558657248-35ooec6l3hpm3r2a7lutntdc56d6t6d1</string>
	<key>API_KEY</key>
	<string>AIzaSyCzuuy9Fcjo5DRkzvl5pfodbmFKLQDEClA</string>
	<key>GCM_SENDER_ID</key>
	<string>1027558657248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.alibhaiapp</string>
	<key>PROJECT_ID</key>
	<string>amigosdev-fcb01</string>
	<key>STORAGE_BUCKET</key>
	<string>amigosdev-fcb01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1027558657248:ios:1ef57401d9f8a8160b1485</string>
</dict>
</plist>